@import '../../base.scss';

.video {
  margin-bottom: 1rem;
  padding: 0.7rem;

  font-weight: 500;
  font-size: 0.9rem;

  cursor: pointer;

  &__top {
    margin-bottom: 0.5rem;
    position: relative;

    img {
      width: 100%;
    }
    span {
      position: absolute;

      bottom: 0.3rem;
      right: 0.3rem;
      width: 45px;
      padding: 0.2rem;
      background: #080808ec;
      border-radius: 3px;
    }
  }
}